In [19]:
import pandas as pd

In [50]:
file_path = "../data/population-and-demography.csv"

In [53]:
data = pd.read_csv(file_path)

In [54]:
print(data.head())

        Entity Code  Year  \
0  Afghanistan  AFG  1950
1  Afghanistan  AFG  1951
2  Afghanistan  AFG  1952
3  Afghanistan  AFG  1953
4  Afghanistan  AFG  1954

   Population - Sex: all - Age: all - Variant: estimates
0                                            7776182
1                                            7879343
2                                            7987783
3                                            8096703
4                                            8207953

In [60]:
!pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (3.9.1)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     -------------------------------------- 294.9/294.9 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.23 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (2.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: pillow>=8 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\onedrive\documents\github\world-population-analysis\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip available: 22.2.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [62]:
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
data.head()

,Entity,Code,Year,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,7776182
1,Afghanistan,AFG,1951,7879343
2,Afghanistan,AFG,1952,7987783
3,Afghanistan,AFG,1953,8096703
4,Afghanistan,AFG,1954,8207953

In [49]:
data.columns

Index(['index', 'Code', 'Year', 'population'], dtype='object')

In [55]:

desired_countries = ["Afghanistan", "Brazil", "India"]

In [58]:
filtered_data = data[data["Entity"].isin(desired_countries)]

In [59]:
filtered_data.head(n=100)

,Entity,Code,Year,Population - Sex: all - Age: all - Variant: estimates
0,Afghanistan,AFG,1950,7776182
1,Afghanistan,AFG,1951,7879343
2,Afghanistan,AFG,1952,7987783
3,Afghanistan,AFG,1953,8096703
4,Afghanistan,AFG,1954,8207953
...,...,...,...,...
2315,Brazil,BRA,1971,97739280
2316,Brazil,BRA,1972,100146796
2317,Brazil,BRA,1973,102600971
2318,Brazil,BRA,1974,105089675
2319,Brazil,BRA,1975,107619568

In [65]:
filtered_data=filtered_data.rename(columns={"Population - Sex: all - Age: all - Variant: estimates":"Population"})

In [ ]:
filtered_data.columns

In [ ]:
df = df.rename(columns={'old_name1': 'new_name1', 'old_name2': 'new_name2'})

In [ ]:
sns.lineplot(data=filtered_data,x="Year",y="Population",hue="Entity")